.buttoncomp1{
    padding: 0.60rem 0.90rem 0.60rem 0.9rem;
    background-color: #6c25be;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color:white;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.7s;
    transition-timing-function: ease;
    border: 1px solid #4d00a5;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.buttoncomp1:hover{
    background-color: #4d00a5;
}

@media (max-width:700px) {
    .buttoncomp1{
        font-size: 0.7rem;
    }
}
