.first-title{
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.content{
    font-size: 1.2rem;
    color: rgb(184, 184, 184);
}